
.tituloPrincipal {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid ;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
}

.titulos {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: oblique;
    background-color: rgb(246, 246, 246);
    width: 30px;
    margin: 30px;
    border: 3px solid;
    justify-content: center;
}


.subtituloIndex {
   text-align: center;
   font-size: medium;
   font-family: Arial, Helvetica, sans-serif;
   border: 2px solid;
   margin: 10px;

   }

   .parrafo1 {
    text-size-adjust: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid;
    background-color: antiquewhite;
    margin: 15px;
    padding-left: 20px;
   }

   .derechosReservados{
    width: 50%;
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    border: 3px solid;
    margin-left: 20px;
   }

   .imagen_posicion{
    width: 8rem;
    border-radius: 100%;
    justify-content: center;
    
   }

   .carrito{
    width: 2rem;
   }
   
   .nav_item{
    justify-content: center;
    display: inline-table;
    border-style: dotted;
    

   }

    .nav_item:hover a {
    color: azure;
    background-color: chartreuse;
    justify-content: center;
   }

   

   .video{
    padding-left: 20px;
   }

   .imagen_grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
   }
  